.characteristic {
	padding-bottom: 150px;
	&__body {
	}

	&__title {
		& + * {
			margin-top: 40px;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__tables {
		flex: 0 1 570px;
		& + * {
			margin-left: 60px;
		}
	}

	&__table {
		width: 100%; //растягиваем таблицу на 100%
		//border-collapse: collapse; //чтобы убрать зазоры между ячеками
		& + * {
			margin-top: 30px;
		}
	}

	&__image {
		flex: 0 1 570px;
	}
}
.specs-table {
	&__head {
	}
	&__body {
	}
	&__row {
	}
	&__title {
		background: #131313;
		color: #fff;
		text-align: left;
		text-transform: uppercase;
		font-weight: 700;
		padding: 3px 2px;
	}

	&__column {
		width: 285px;
		vertical-align: top;
		padding: 2.5px 0px;
	}
}
