.first {
	padding: 50px 0 0;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: 992px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__content {
		flex: 0 1 530px;
		& + * {
			margin-left: 31px;
			@media (max-width: 1090px) {
				margin-left: 0;
			}
		}
		@media (max-width: 1090px) {
			flex: 0 1 45%;
		}
		@media (max-width: 992px) {
			flex: 0 1 100%;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 64px;
		line-height: calc(77px / 64px * 100%);
		& + * {
			margin-top: 5px;
		}
		@media (max-width: 768px) {
			font-size: 44px;
		}
	}

	&__subtitle {
		font-size: 32px;
		line-height: calc(39px / 32px * 100%);
		color: #6f6f6f;
		& + * {
			margin-top: 60px;
			@media (max-width: 992px) {
				margin-top: 30px;
			}
		}
	}

	&__descr {
		max-width: 420px;
		& + * {
			margin-top: 80px;
			@media (max-width: 992px) {
				margin-top: 40px;
			}
		}
		@media (max-width: 992px) {
			max-width: 100%;
		}
	}

	&__text {
		& + * {
			margin-top: 20px;
		}
	}

	&__link {
	}

	&__column {
		max-width: 630px;
		@media (max-width: 1090px) {
			max-width: 45%;
		}
		@media (max-width: 992px) {
			max-width: 100%;
		}
	}

	&__slider {
		& + * {
			margin-top: 25px;
		}
		.slick-dots {
			position: absolute;
			right: 0;
			top: 52px;
			@media (max-width: 768px) {
				top: 15px;
			}
			li {
				font-size: 0; //чтобы пропали цифры
				background: #131313;
				border-radius: 7px;
				width: 3px;
				height: 25px;
				cursor: pointer;
				transition: all 0.3s;
				& + * {
					margin-top: 10px;
				}
				&:hover {
					background: #ff4040;
				}
			}
			.slick-active {
				background: #ff4040;
			}
		}
	}

	&__specs {
		display: flex;
		justify-content: space-around;
		max-width: 100%;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}
}
.first-slider {
	&__slide {
	}

	&__img {
	}
}
.specs {
	&__item {
		min-width: 160px;
		text-align: center;
		@media (max-width: 1090px) {
			min-width: 100px;
		}
	}

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		& + * {
			margin-top: 5px;
		}
	}

	&__text {
		font-size: 12px;
		text-transform: lowercase;
		min-height: 31px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.slick-slide {
	opacity: 0;
	transition: opacity 1s ease-out;
}

.slick-active {
	opacity: 1 !important;
	transition: opacity 1s ease-in;
}

.slick-cloned {
	opacity: 0.3;
}
