.header {
	position: relative;
	z-index: 55;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
	}

	&__menu {
		margin-right: 73px;
		@media (max-width: 992px) {
			margin-right: unset;
		}
	}
}
.logo {
	&__img {
	}
}
.menu {
	&__list {
		display: flex;
		@media (max-width: 768px) {
			position: absolute;
			left: 100%;
			top: 101px;
			flex-direction: column;
			background: rgba(0, 0, 0, 0.9);
			backdrop-filter: blur(5px);
			width: 100%;
			align-items: center;
			height: calc(100vh - 100px);
			overflow: scroll;
			transition: left 0.3s;
			&.active {
				left: 0;
			}
		}
	}
	&__item {
		& + * {
			margin-right: 10px;
		}
	}

	&__link {
		text-transform: uppercase;
		padding: 42px 20px;
		transition: all 0.3s;
		color: #131313;
		&:hover {
			background-color: #000;
			color: #fff;
			@media (max-width: 768px) {
				background-color: unset;
			}
		}
		@media (max-width: 768px) {
			color: #fff;
			padding: 30px;
			font-size: 18px;
		}
	}
}

.burger-btn {
	display: none;
	cursor: pointer;
	padding: 0;
	border: 0;
	background: transparent;
	position: relative;
	z-index: 55;
	width: 40px;
	height: 30px;
	justify-content: center;
	align-items: center;
	&.active-btn {
		span {
			background-color: transparent;
			&::before {
				transform: rotate(45deg);
				top: 0;
				transition: all 0.3s;
			}
			&::after {
				transform: rotate(-45deg);
				top: 0;
				transition: all 0.3s;
			}
		}
	}
	@media (max-width: 768px) {
		display: block;
	}
	span {
		display: block;
		position: relative;
		width: 40px;
		height: 3px;
		background-color: #000;

		&::before,
		&::after {
			position: absolute;
			content: "";
			display: block;
			width: 40px;
			height: 3px;
			background-color: #000;
			transition: all 0.3s;
		}
		&::before {
			left: 0;
			top: 10px;
		}
		&::after {
			left: 0;
			top: -10px;
		}
	}
}
